body {
    font-family: Fira Sans;
    background-color: rgba(220, 220, 220, 0.548);
    max-width: 1240px;
    margin: 0 auto;
  }
  
  .text-primary {
    color: rgb(0, 106, 80);
  }
  .btn-primary {
    border-radius: 8px;
    background-color: rgb(0, 106, 80);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    padding: 17px 34px;
  }
  .btn-primary:hover {
    background-color: blue;
  }
  
  /*header section added*/
  
  header {
    background-color: rgb(198, 228, 214);
    border-radius: 15px;
  }
  
  .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    padding: 50px 100px 50px 100px;
  }
  .banner-title {
    color: rgba(14, 14, 14, 0.5);
    font-size: 500;
    font-size: 24px;
  }
  .banner-description {
    font-size: 700;
    font-size: 56px;
  }
  /*header section end*/
  /*vision section added*/

.vision-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .vision-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
  }
  .vision-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
  }
  .card {
    border-radius: 16px;
    padding: 32px;
    width: 410.67px;
    height: 325px;
  }
  .card-1 {
    background-color: rgba(84, 144, 245, 0.2);
  }
  .card-2 {
    background-color: rgba(198, 228, 214);
  }
  .card-3 {
    background-color: rgb(247, 235, 207);
  }
  .card-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
  }
  .card-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
  }
  
  .btn1 {
    background: rgb(84, 144, 245);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 11px 20px 11px 20px;
    margin-top: 15px;
  }
  .btn1:hover {
    background-color: blueviolet;
  }
  .btn2 {
    background-color: rgb(9, 161, 92);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 11px 20px 11px 20px;
    margin-top: 15px;
  }
  .btn2:hover {
    background-color: blueviolet;
  }
  .btn3 {
    background-color: rgb(255, 194, 57);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 11px 20px 11px 20px;
    margin-top: 15px;
  }
  .btn3:hover {
    background-color: blueviolet;
  }
  /*vision section end*/


  .quotes-section {
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    margin: 50px 0px;
  }
  .quotes {
    background-image: url(../quote-bg.png);
    background-repeat: no-repeat;
  
    margin: 30px;
  }
  .quote-description {
    padding-top: 20px;
    color: rgba(14, 14, 14, 0.8);
    font-size: 16px;
    font-weight: 400;
  }
  .quote-name {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 600;
  }
  .quote-description-another {
    color: rgba(14, 14, 14, 0.8);
    font-size: 15px;
    font-weight: 400;
  }
  /*quotes section end*/



  .news-heading {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
  }
  .news-info{
  color: rgba(14, 14, 14, 0.7);
  
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 40px;
  }
  
  .news-portal {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 30px;
    background-color: #fff;
    border-radius: 24px;
    margin-bottom: 20px;
  }
  .news-portal2 {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 30px;
    background-color: #fff;
    border-radius: 24px;
  }
  .news-image {
    margin-right: 30px;
  }
  .news-image img {
    border-radius: 24px;
  
    height: 100%;
  }
  .news-details {
  }
  .news-title {
    color: rgba(14, 14, 14, 0.8);
  
    font-size: 32px;
    font-weight: 700;
  }
  .news-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
  }
  .news-btn {
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 11px 20px 11px 20px;
    background-color: rgb(0, 106, 80);
  }
  .news-btn:hover {
    background-color: forestgreen;
  }
  /*news section end*/

  #donate-section {
    text-align: center;
  }
  .donate-info{
  color: rgb(14, 14, 14);
  
  font-size: 40px;
  font-weight: 700;
  }
  .donate-description{
  color: rgba(14, 14, 14, 0.7);
  
  font-size: 16px;
  font-weight: 400;
  }
  #donate-input {
    padding: 20px 40px 20px 40px;
    width: 1032px;
    height: 64px;
    text-align: center;
    background: rgb(255, 255, 255);
    border-radius: 2px;
    border: none;
    font-size: 20px;
  }
  .donate-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 24px;
  }
  
  .donate-amount {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 40px;
    color: rgba(14, 14, 14, 0.8);
  
    font-size: 32px;
    font-weight: 700;
    width: 252px;
    height: 128px;
  }
  .donate-amount:hover {
    background-color: rgb(198, 228, 214);
  }
  .donate-amount2 {
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 40px;
    color: rgba(14, 14, 14, 0.8);
  
    font-size: 32px;
    font-weight: 700;
    width: 252px;
    height: 128px;
  }
  .donate-amount2:hover {
    background-color: #fff;
  }
  .donate-button {
    border: 1px solid rgba(14, 14, 14, 0.1);
    border-radius: 8px;
    background: rgb(0, 106, 80);
    width: 151px;
    height: 56px;
    color: #fff;
    font-weight: 600;
    font-size: 18px;
    margin-top: 20px;
  }
  .donate-button:hover {
    background-color: darkred;
  }
  /*donate section ended*/


  .subscribe-section {
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 32px;
  
    padding: 85px;
  }
  
  .subscribe-info {
    text-align: center;
    border-radius: 5px;
  }
  
  .subscribe-title {
    color: #272727;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
  }
  
  .subscribe-description {
    color: rgba(39, 39, 39, 0.6);
    font-size: 16px;
    font-weight: 400;
  }
  .subscription-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .subscribe-info #email {
    outline: none;
    border: none;
    padding: 20px 185px 20px 20px;
  
    border-radius: 10px 0px 0px 10px;
    font-size: 16px;
  }
  .btn-secondary {
    border-radius: 0px 8px 8px 0px;
    background: rgb(0, 106, 80);
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    border: 0;
    padding: 18px 20px;
  }
  .btn-secondary:hover {
    background-color: darkorange;
  }
  .footer{
    background-color: #fff;
    padding: 40px;
  }
  .footer p{
    text-align: center;
    font-size: 40px;
  }