body {
    font-family: Fira Sans;
    background-color: rgba(220, 220, 220, 0.548);
    max-width: 1240px;
    margin: 0 auto;
  }
  
  .text-primary {
    color: rgb(0, 106, 80);
  }
  .btn-primary {
    border-radius: 8px;
    background-color: rgb(0, 106, 80);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    border: 0;
    padding: 17px 34px;
  }
  .btn-primary:hover {
    background-color: blue;
  }
  
  /*header section added*/
  
  header {
    background-color: rgb(198, 228, 214);
    border-radius: 15px;
  }
  
  .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 64px;
    padding: 50px 100px 50px 100px;
  }
  .banner-title {
    color: rgba(14, 14, 14, 0.5);
    font-size: 500;
    font-size: 24px;
  }
  .banner-description {
    font-size: 700;
    font-size: 56px;
  }
  /*header section end*/
  /*vision section added*/

.vision-card {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  .vision-title {
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
  }
  .vision-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 50px;
  }
  .card {
    border-radius: 16px;
    padding: 32px;
    width: 410.67px;
    height: 325px;
  }
  .card-1 {
    background-color: rgba(84, 144, 245, 0.2);
  }
  .card-2 {
    background-color: rgba(198, 228, 214);
  }
  .card-3 {
    background-color: rgb(247, 235, 207);
  }
  .card-title {
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: 700;
  }
  .card-description {
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
  }
  
  .btn1 {
    background: rgb(84, 144, 245);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 11px 20px 11px 20px;
    margin-top: 15px;
  }
  .btn1:hover {
    background-color: blueviolet;
  }
  .btn2 {
    background-color: rgb(9, 161, 92);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 11px 20px 11px 20px;
    margin-top: 15px;
  }
  .btn2:hover {
    background-color: blueviolet;
  }
  .btn3 {
    background-color: rgb(255, 194, 57);
    color: #fff;
    border-radius: 8px;
    border: none;
    padding: 11px 20px 11px 20px;
    margin-top: 15px;
  }
  .btn3:hover {
    background-color: blueviolet;
  }
  /*vision section end*/